body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;    
    font-weight: 400;
    color: white;
}

.background {
    width: 99vw;
    height: 100vh;
    background: url('../image/xera-desktop.webp') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    filter: grayscale(0.4);
}

.content {
    position: absolute;
    width: 99vw;
}

@media (max-width: 500px) {
    .background {
        background: url('../image/xera-mobile.webp')
    }
}