.header {
    display: flex;
    justify-content: center;
}

.header > .form {
    padding: 15px;
}

.header .input-wrapper {
    background-color: white;
    width: 30rem;
    height: 2rem;
    padding: 5px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .input-wrapper > .input {
    font-size: 0.8rem;
    width: 90%;
    height: 90%;
    outline: none;
    border: none;
}

.header .input-wrapper > .input::placeholder {
    font-size: 0.6rem;
}

.header .input-wrapper > .button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: white;
    color: #476e9e;
    width: 3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .header .form > .input-wrapper {
        width: 90vw;
    }
}