.main {
    display: flex;
    justify-content: center;
}

.main > .raid-wrapper {
    background-color: #2f3136;
    padding: 0.8rem;
    box-shadow: 2px 3px 15px -2px #000000;
}

.main > .raid-wrapper .title-wrapper {
    background-color: #26292e;
    width: 100%;
    height: 3rem;
}

.main > .raid-wrapper .title {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 3rem;
}

.main > .raid-wrapper .raid-content {
    display: flex;
    justify-content: space-between;
    min-width: 550px;
}

@media (max-width: 620px) {
    .main > .raid-wrapper .raid-content {
        display: block;
        min-width: 0;
    }
}