.raids > .raid-list {
    margin-top: 1.2rem;
}

.raids > .raid-list .raid-title,
.raids > .raid-list .raid-description {
    padding: 0.4rem;
}

.raids > .raid-list .raid-description {
    color: #ddd;
}