.raids > .raid-list {
    margin-top: 1.2rem;
}

.raids > .raid-list .raid-title,
.raids > .raid-list .raid-description {
    /* font-size: 0.8rem; */
    padding: 0.4rem;
}

.raids > .raid-list .raid-description {
    color: #c4c4c4;
}